<!DOCTYPE HTML>
<html lang="en">
<body>
  
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
<link href="{{ url_for('static',filename='bootstrap.css') }}" rel='stylesheet'>
</head>
  
<title> Ace Algebra!</title>
  
<ul id="menu">
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="level1.html">Level 1</a></li>
<li><a href="level2.html">Level 2</a></li>
<li><a href="level3.html">Level 3</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>

<body>
<div>
Welcome to Level 1. Let's see what you've got! Good luck!
  </div>
  

<form action="quiz_answers" method="POST">

<p> Question 1: If Bill has 5 pounds and spends 2 pounds on sweets. How much money does he have left? </p>

  Your answer to Question 1:</br>
  <input type="text" name="answer1"></br>


<p> Question 2: If Mary is given 8 pounds by her mum and 9 pounds by her dad, how much money does Mary have in total? </p>

  Your answer to Question 2:</br>
  <input type="text" name="answer2"></br>


<p> Question 3: If James buys 3 sweets at 50p each, how much will that cost? </p>

  Your answer to Question 3:</br>
  <input type="text" name="answer3"></br>


<p> Question 4: If Ed is given 2 pounds every day of the week, how much does he have at the end of the week? </p>

  Your answer to Question 4:</br>
  <input type="text" name="answer4"></br>


<p> Question 5:  If Camilla goes shopping and buys a dress for 10 pounds and a burger for 5 pounds, how much money has she spent? </p>

  Your answer to Question 5:</br>
  <input type="text" name="answer5"></br>


<input type="submit" value="Submit!"/>
</form>
</body>
</html>
